@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  height: 100vh;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Start here */

header {
  text-align: center;
  color: #fff;
  padding-bottom: 3rem;
}

header h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1;

}

header h1 span {
  font-weight: 700;
}

header p {
  font-size: 1.6rem;
}

section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  padding-bottom: 1rem;
}

form input,
form button {
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 1.4rem;
  padding: .8rem;
  font-family: inherit;
}

form input {
  width: 30rem;
  margin-right: 3px;
  border-bottom: 3px solid var(--color-primary);
}

form button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: all .3s;
}

form button:hover {
  background-color: var(--color-sec);
}

footer p {
  color: #fff;
  font-size: 1.4rem;
  padding-top: 10rem;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.modal {
  display: none;
  position: fixed;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.modal-content {
  width: 30rem;
  background-color: #eee;
  margin: 15% auto;
  padding: 2rem;
  border: 1px solid #777;
  position: relative;
  text-align: center;

}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: var(--color-primary);
  font-size: 2rem;
  cursor: pointer;
}

.progress {
  width: 50%;
  height: 4px;
  background-color: #db6400;
}

.progress::-webkit-progress-value {
  background-color: #db6400;
  transition: width 1s ease;
}