@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Arial","Open Sans", sans-serif;
  background:linear-gradient(to right bottom, #ea2c62, #120078);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container { 
  width:80%;
  margin: 0 auto;
 max-width: 320px;
}

.main-container {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  width:100%;
  max-width: 320px;
  height: 80vh;
  background:url("./images/weather.png") no-repeat center;
  background-size: cover;
  border-radius:10px;
  overflow: hidden;
  position: relative;
}

.main-container::before {
  content:"";
  position:absolute;
  left:0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.6));
  z-index: 0;
}

.top {
  text-align: center;
  z-index: 999;
}
.top h1 {
  color: white;
  line-height:2rem;
}

.top input,
.top button {
  display:block;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 5px;
  outline: none;
  border: none;
}

.top input {
  background-color: rgba(0,0,0,.5);
  border-bottom: solid 2px green;
  border-radius: 10px 0;
  text-align: center;
  font-size: 14px;
  
}

.top input:focus {
  color: white;
  font-size: 15px;
}

.top input::placeholder {
  color: rgba(255,255,255,.5);
}

.top button {
  background-color: #db6400;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  transition: all .3s;
}

.top button:hover {
  background-color: #b05102;
}

.top .error {
  color: white;
  font-size: 14px;
}

.icon {
  text-align: center;
  padding-top: 15px;
}

.location {
  padding-bottom: 15px;
  text-align: center;
  color: white;
  line-height: 1.6rem;
}

.location .city {
  font-size: 20px;
  font-weight: bold;
  
}
.current {
  width: 100%;
  position: relative;
  padding-top: 10px;
  color: white;
  text-align: left;
}

.current::before {
  content: "";
  position:absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 1px;
  background-color: white;

}

.current > * {
  padding-bottom: 10px;
  
}